<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 6</title>
    <link rel="stylesheet" type="text/css" href="{{=URL('static','css/style_page6.css')}}">
</head>
<body>
    <div class="container">

        <div id="header">
            
            <div id="header-text">
                <p>Republic of the Philippines</p>
                <p>Bicol University</p>
                <p><b>OFFICE OF THE UNIVERISTY REGISTRAR</b></p>
                <p>Legazpi City</p>
                <p>Tel. No. (052) 820-6809</p>
                <p>e-mail add: bu_uro@yahoo.com</p>
            </div>
            
            <div id="header-img">
                <img src="{{=URL('static','images/bicol-uni-logo.png')}}" 
                alt="bu_logo" class="header-img">
            </div>
            
            <div id="header-iso">
                <p>ISO 9001:2008</p>
                <p>Certificate No.</p>
                <p>TUV100 05 1782</p>
            </div>

        </div> <!-- End header -->

        <!--Page contents -->
        <div id="page-contents">
            
            <h6>HONORABLE DISMISSAL</h6>
            <p class="input-txt" id="date">{{=current_date}}</p>
            <h4 id="letter-salutation">TO WHOM IT MAY CONCERN:</h4>

            <div id="letter-body-content">
                <p class="letter-body-p1">This is to certify that</p>
                <p class="input-txt"><b>{{=full_name}}</b></p>
                <p>, who graduated with/took up subjects towards the degree of </p>
                <p class="input-txt"><b>{{=course}}</b></p>
                <p> from Bicol University</p>
                <p class="input-txt"><b>{{=college_name.upper()}}, </b></p>
                <p class="input-txt">{{=college_address}}</b></p>
                <p>is hereby granted honorable dismissal effective this date.</p>
            </div> <!--End of paragraph 1 div -->
        
            <div id="letter-body-content">
                <p>His/Her Official Transcript of Record will be forwarded upon request by sending 
                the lower portion of this honorable dismissal to the college.</p>
            </div> <!--End of paragraph 2 div -->

            <div id="registrar">
                <p><b>{{=uni_registrar[0].registrar_name.upper()}}</b></p>
                <p>{{=uni_registrar[0].registrar_position.title()}}</p>
            </div>

            <div id="line-divider">
                <hr size="1" width="100%" color="black">  
            </div>

            <div id="school-address">
                <p>______________________________________________</p>
                <p>__________________________________________</p>
                <p>_____________________________________</p>
                <p>(Complete Name of School and Address)</p>
            </div>

            <div id="date2">
                <p>__________________</p>
                <p class="date-label">Date</p>
            </div>
            
            <div id="inside-address">
                <p class="input-txt">The Registrar</p>
                <p class="input-txt">BU {{=college_name.title()}}</p>
                <p class="input-txt">{{=college_address}}</p>
                <p id="greetings">Sir/Madam:</p>
            </div>

            <div id="letter-body-2">
                <p>Mr/Ms</p>
                {{if student[0].undergrad_stud.middle_name is not None: }}
                    <p class="input-txt" style="text-decoration: underline;"><b>{{=address + ' ' + student[0]\
                    .undergrad_stud.first_name + ' ' + student[0]\
                    .undergrad_stud.middle_name[0] + '. ' + student[0]\
                    .undergrad_stud.last_name}}</b></p>
                {{else:}}
                    <p class="input-txt" style="text-decoration: underline;"><b>{{=address + ' ' + student[0]\
                    .undergrad_stud.first_name + ' ' + student[0]\
                    .undergrad_stud.last_name}}</b></p>
                {{pass}}
                <p>, who graduated with/took up subjects towards the degree of </p>
                <p class="input-txt"><b>{{=student[0].degree_courses.course_name}}</b></p>
                <p class="input-txt"><b>({{=student[0].degree_courses.course_abbrev}})</b></p>
                <p> from</p>
                <p class="input-txt"> Bicol University</p>
                <p class="input-txt"><b>{{=college_name.upper()}}, </b></p>
                <p class="input-txt"><b>{{=college_address}}</b></p>
                <p> is temporarily enrolled in the _____________________________________ pending 
                    receipt of his/her Official Transcript of Record.</p>
            </div>
            <div id="letter-body-2">
                <p>In connection with this, may I request that his/her Official Transcript of Record
                be sent to this University/school immediately.</p>
            </div>

            <div id="requesting-officer">
                <p>___________________________</p>
                <p>Requesting Officer</p>
                <p class="designation-blank">___________________________</p>
                <p>Designation</p>
            </div>
            
            <div id="student-signature">
                <p><b><i>Not valid unless the student's signature is affixed below.</i></b></p>
                <p class="signature-blank">_______________________________________________</p>
                <p style="text-indent: 3em;"><i>(Signature over printed name of student)</i></p>
            </div>

            <div id="payment-receipt">
                <p id="receipt-details">O.R. No.</p>
                <p id="receipt-details" class="input-txt">{{=or_no}}</p>
                <p id="receipt-details" style="margin-left: 10px;">Amount: </p>
                <p id="receipt-details" class="input-txt">P{{=receipt_amount}}</p>
                <p id="receipt-details" style="margin-left: 20px;">Date: </p>
                <p id="receipt-details" class="input-txt">{{=receipt_date}}</p>
            </div>

            <div id="last-term">
                <p id="receipt-details2">Last Term Enrolled: </p>
                <p id="receipt-details2" class="input-txt">{{=last_term_enrolled}}</p>
            </div>
            
            <div id="rev">
                <p>Revision: 1</p>
            </div>
            <div id="ureg">
                <p>BU-F-UREG-08</p>
                <p>Effectivity Date: Mar. 9, 2011</p>
            </div>
        </div> 
    </div>
</body>

</html>