<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 5</title>
    <link rel="stylesheet" href="{{=URL('static','css/style_page5.css')}}">
</head>
<body>
<div class="container">
    <div id="header">
        <div id="header-text">
            <p>Republic of the Philippines</p>
            <p>Bicol University</p>
            <p class="header-color"><b>{{=college_name}}</b></p>
            <p class="header-color">{{=college_address}}</p>
            <p class="header-color">{{=college_tel_no}}</p>
        </div>
        <div id="header-img">
            <img src="{{=URL('static','images/bicol-university-logo.png')}}"
                 alt="bu_logo" class="header-img">
        </div>
        <div id="header-iso">
            <p><b>ISO 9001:2008</b></p>
            <p>Certificate No.</p>
            <p><b>TUV100 05 1782</b></p>
        </div>
    </div>

    <div id="certification">
        <h1>CERTIFICATION</h1>
    </div>

    <div id="salutation">
        <h3>TO WHOM IT MAY CONCERN:</h3>
    </div>

    <div id="letter-body">
        <div id="letter-body-content">
            <p>This is to certify that</p>
            <p style="color: #c1312c;"><b>{{=full_name}}</b></p>
            <p>has graduated with the degree of</p>
            <p style="color: #c1312c;"><b>{{=course}}
            </b></p>
            <p style="color: #c1312c;">major in {{=major}}</p>
            <p>on</p>
            <p style="color: #c1312c;">{{=date_graduated}}</p>
            <p>per</p>
            <p style="color: #c1312c;">Resolution No. 1, s. {{=year_graduated}}</p>
            <p>of the Board of Regents, Bicol University.</p>
        </div>
        <div id="letter-body-content">
            <p>It is further certified that the Bicol University is a
                government institution operating under R.A. No. 5521,
                as amended, whose graduates are <b>not issued
                    Special Order</b>.</p>
        </div>
        <div id="letter-body-content">
            <p>This certifies finally, that the</p>
            <p style="color: #c1312c;"><b>{{=student[0].degree_courses.course_name}}</b></p>
            <p>course is duly approved by the Board of Regents, Bicol
                University, Legazpi City.</p>
        </div>
        <div id="letter-body-content">
            <p>Issued this</p>
            <p style="color: #c1312c;">{{=current_day}}</p>
            <p>day of</p>
            <p style="color: #c1312c;">{{=current_month_year}}</p>
            <p>upon the request of</p>
            <p style="color: #c1312c;">{{=address_stud}}</p>
            <p>for reference purposes.</p>
        </div>
        <div id="registrar">
            <p><b>{{=registrar_II.upper()}}</b></p>
            <p>Registar II</p>
        </div>

        <div id="noted">
            <p>Noted:</p>

            <div id="uni-registrar">
                <p><b>{{=uni_registrar[0].registrar_name.upper()}}</b></p>
                <p>University Registrar</p>
            </div>
        </div>

        <div id="rev">
            <p>Revision: 1</p>
        </div>
        <div id="ureg">
            <p>BU-F-UREG-07</p>
            <p>Effectivity Date: Mar. 9, 2011</p>
        </div>
    </div>
</div>
</body>
</html>