* {
    margin: 0;
    padding: 0;
    letter-spacing: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
    min-height: 100%;
    overflow: hidden;
}

/*Header*/

#header {
    height: 80px;
    width: 100%;
}

#header-text {
    text-align: center;
    color: rgb(0, 0, 0);
    font: 16px Times New Roman, serif;
    margin: 0;
}

.header-img {
    width: 211px;
    height: 100px;
    float: left;
    position: absolute;
    top: 5px
}

#header-iso {
    float: left;
    height: 80px;
    width: 200px;
    font: 15px Helvetica, Sans-Serif;
    margin: 0px;
    padding-left: 5px;
}

#header-iso p {
    color: #83afdf;
    text-align: center;
}

/*Contents*/

.input-txt {
    color:  #c1312c;
}

#page-contents {
    width: auto;
    margin-top: 20px;
    float: left;
    letter-spacing: 1pt;
    margin-right: 30px;
}

#page-contents h6 {
    font: 20px Times New Roman, serif;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1pt;
}

#date {
    text-align: right;
    padding-top: 20px;
    margin-left: 50px;
}

/*document title*/
h4 {
    text-align: left;
    padding-top: 20px;
    padding-left: 50px;
}

/*letter body content*/

#letter-body-content {
    width: auto;
    margin-left: 50px;
    margin-top: 20px;
    text-align: justify;
    text-indent: 3em;
    font: 16px Times New Roman, serif;
}

#letter-body-content p{
    display: inline;
}

#registrar{
    margin-top: 40px;
    float: right;
    width: 200px;
    margin-right: 50px;
    text-align: center;
}

#line-divider{
    margin-top: 100px;
    width: 100%;
    margin-right: 0;
}

#school-address {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

#date2 {
    width: 100px;
    float: right;
    padding-right: 180px;
}

.date-label {
    text-align: center;
    text-indent: 2em;
}

#inside-address {
    margin-top: 30px;
    margin-left: 50px;
}

#greetings{
    margin-top: 12px;
}

#letter-body-2 {
    width: auto;
    margin-left: 50px;
    margin-top: 20px;
    text-align: justify;
    text-indent: 3em;
    font: 16px Times New Roman, serif;
}

#letter-body-2 p{
    display: inline;
}

#requesting-officer {
    margin-top: 15px;
    width: 240px;
    float: right;
    padding-right: 100px;
}

#requesting-officer p {
    text-align: center;
    text-indent: 2em;
}

.designation-blank {
    margin-top: 10px;
}

#student-signature {
    margin-left: 50px;
    margin-top: 40px;
}

.signature-blank {
    margin-top: 20px;
}

#payment-receipt {
    margin-left: 50px;
    margin-top: 25px;
}

#receipt-details {
    display: inline;
}

#receipt-details2 {
    display: inline;
}

#last-term {
    margin-left: 50px;
    margin-top: 5px;
}

#ureg {
	margin-top: 150px;
	font-size: 12px;
	font-family: "Arial Black";
}

#rev {
	margin-top: 150px;
	float: right;
	font-size: 12px;
	font-family: "Arial Black";
}

@media print {
	.container {
		width: 100%;
		margin: 0;
		padding: 0px;
		border: none;
	}
	body {
		-webkit-print-color-adjust: exact;
		color-adjust: exact;
	}

    #header-text {
        padding-left: 20px;
        text-align: center;
    }

    #date2 {
        width: 100px;
        float: right;
        padding-right: 50px;
    }
    
    .date-label {
        text-align: center;
        text-indent: 1em;
    }

    #requesting-officer {
        margin-top: 15px;
        width: 240px;
        float: right;
        padding-right: 20px;
    }
    
    #requesting-officer p {
        text-align: center;
        text-indent: .5em;
    }
    
}

@page {
	size: 8.5in 13in portrait;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
}